<div class="container-area">
  <div class="container-drag">
    <div *ngFor="let item of nodesArray"
      [attr.id]="item._id"
      class="drag-item"
      cdkDragBoundary=".container-drag"
      (cdkDragMoved)="onDragMoved($event, item)"
      cdkDrag>
      <div>
        <input [(ngModel)]="item.name" />
        <button mat-icon-button color="warn" class="small-md-icon-button">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button color="primary" (click)="addQuestion(item)" class="medium-md-icon-button">
          <mat-icon>question_answer</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="addPort(item)" class="medium-md-icon-button">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <div class="question-contain">
        <div class="question">
          <div *ngFor="let question of item.qustionList; let i = index; trackBy: indexTracker;">
            <input [(ngModel)]="item.qustionList[i]" />
          </div>
        </div>
        <div class="port-contain">
          <button mat-icon-button *ngFor="let p of item.port" [attr.id]="p._id" (click)="addLine(item, p)" class="small-md-icon-button mat-skyblue">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field>
        <input matInput placeholder="Error State" [(ngModel)]="item.error">
      </mat-form-field>
    </div>
  </div>
</div>
<div class="center-bttn">
  <button mat-raised-button color="primary" (click)="saveModel()">Save</button>
  <button mat-raised-button>Cancel</button>
</div>
<app-leader-line></app-leader-line>