<div class="container-area">
  <div class="container-drag">
    <div *ngFor="let item of nodesArray"
      [attr.id]="item._id"
      class="drag-item"
      cdkDragBoundary=".container-drag"
      (cdkDragMoved)="onDragMoved($event, item)"
      cdkDrag>
      <input [(ngModel)]="item.name" />
      <div>
        <button (click)="addQuestion(item)">add question</button>
        <button (click)="addPort(item)">add port</button>
      </div>
      <div class="question-contain">
        <div class="question">
          <div *ngFor="let question of item.qustionList; let i = index; trackBy: indexTracker;">
            <input [(ngModel)]="item.qustionList[i]" />
          </div>
        </div>
        <div class="port-contain">
          <div *ngFor="let p of item.port" [attr.id]="p._id" (click)="addLine(item, p)" class="add-port"></div>
        </div>
      </div>
      <mat-form-field>
        <input matInput placeholder="Error State" [(ngModel)]="item.error">
      </mat-form-field>
    </div>
  </div>
</div>
<app-leader-line></app-leader-line>