<h1 mat-dialog-title>Create new Node</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Select Node" [(value)]="data.to">
      <mat-option></mat-option>
      <mat-option *ngFor="let node of nodeElement" [value]="node._id">{{ node.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select Rule" [(value)]="data.data.type">
      <mat-option value="Keyword">Keyword</mat-option>
      <mat-option value="Intent">Intent</mat-option>
      <mat-option value="Regex">Regex</mat-option>
      <mat-option value="API">API</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.data.data">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="data._id">Delete</button>
  <button mat-raised-button (click)="onCancle()">Cancle</button>
</div>